[submodule "xen"]
	path = xen
	url = https://github.com/iijlab/xen.git
	branch = support_on_arm64
	ignore = dirty
[submodule "libvmi"]
	path = libvmi
	url = https://github.com/iijlab/libvmi.git
	branch = support_on_arm64
	ignore = dirty
[submodule "volatility3"]
	path = volatility3
	url = https://github.com/volatilityfoundation/volatility3
	ignore = dirty
[submodule "dwarf2json"]
	path = dwarf2json
	url = https://github.com/iijlab/dwarf2json.git
	branch = support_on_arm64
	ignore = dirty
[submodule "json-c"]
	path = json-c
	url = https://github.com/json-c/json-c.git
	branch = json-c-0.15
	ignore = dirty
